

<div class="container">
<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <img src="assets/imgs/1.jpg" alt="Random first slide" class="background">
    <img src="assets/imgs/inferior1.png" class="first-layer">
    <div class="carousel-caption" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!----<img src="assets/imgs/3.png" style="position:absolute"alt="Random third slide">-->
    <img src="assets/imgs/2.png" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/imgs/3.png" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="background-layer"></div>
    <!---<img src="assets/imgs/4.png" alt="Random third slide"  style="position: relative;">-->
    <div class="carousel-caption">

      <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p></div>
    </div>
  </ng-template>
</ngb-carousel>
</div>




