.background-layer{
  background-image: url("assets/imgs/inferior1.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;

}

.background{
  position: relative;
  top:0px;
  bottom:0px;
}
.first-layer{
  position: absolute;
  top:0px;
  bottom:0px;
}